/* TOP BAR */

.wd-top-bar {
	padding-top: 15px;
	padding-right: 15px;
}

.wd-top-bar > * {
	display: inline;
	vertical-align: middle;
}

.wd-top-bar-right {
	float: right;
}

.wd-button-group {
	float: right;
}
